<div class="railandstation-list">
  <button (click)="onBuyRail()" class="buy-button">Buy Rail</button>

  <div class="rail-list">
    <div *ngFor="let rail of rails; let i = index" class="rail-block"> 
      Rail Nr. {{i+1}}
      level: {{rail.level}}
      <button class="upgrade-button" (click)="onUpgradeRail(i)">upgrade<br><!--{{upgrade cost}}-->db coins</button>
    </div>
  </div>

  <button (click)="onBuyStation()" class="buy-button">Buy Station</button>

  <div class="station-list">
      <div *ngFor="let station of stations; let i = index" class="station-block">
        Station Nr: {{i+1}}
        level: {{station.level}}
        <button class="upgrade-button" (click)="onUpgradeStation(i)">upgrade<br><!--{{upgrade cost}}-->db coins</button>
      </div>
  </div>
</div>
