.railandstation-list {
    max-height: 460px;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: gray;
    align-items: center;
    justify-content: center;
   

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}

.rail-block {
  background-color:white;
  color: black;
  width: 97%;
  height: 100px;
  margin: 8px 0;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
  grid-template-areas: "rail-pic content upgrade_button";
  text-align: center;
  font-size: 1.2rem;
  border: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;
}

.rail-pic {
    grid-area: rail-pic;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

.station-block {
  background-color:white;
  color: black;
  width: 97%;
  height: 100px;
  margin: 8px 0;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
  grid-template-areas: "station-pic content upgrade_button";
  text-align: center;
  font-size: 1.2rem;
  border: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;
}

.station-pic {
    grid-area: station-pic;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

.buy-image {
  width: 20px;
  height: 20px;
}

.rail-list {
    max-height: 350px;
    overflow-y:auto;
    overflow-x: hidden;
    font-family:  "Silkscreen", sans-serif;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}

.station-list {
    max-height: 350px;
    overflow-y:auto;
    overflow-x: hidden;
    font-family:  "Silkscreen", sans-serif;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}

.upgrade-button {
  width: 70%;
  height: 50%;
  background-color: yellowgreen;
  font-family:  "Silkscreen", sans-serif;
  grid-area: upgrade_button;
  text-align: left;
  padding: 10px;
  margin-left: 35%;
  margin-top: 25%;
}

.buy-button {
  background-color:yellowgreen;
  color: black;
  width: 97%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border-color: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;

  background-color:yellowgreen;
  color: black;
  width: 100%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;
}