<div class="railandstation-list">
  <button (click)="onBuyRail()" class="buy-button">
    Buy Rail
    <div class="requirements">
            Db coins: {{store.elementBuyRequirements()[2].requiredDbCoin}}
            power: {{store.elementBuyRequirements()[2].requiredPower}}
            employee: {{store.elementBuyRequirements()[2].requiredEmployees}}
    </div>
  </button>

  <div class="rail-list">
    <div *ngFor="let railDtos of rails; let i = index" class="rail-block"> 
      <img src="assets/minecraft-rail-transport-minecart-video-game-train-png-favpng-YMMvx3JVJ9fX03eUBMqWfHntV.jpg" class="rail-pic" alt="rail picture"> <!--bild von Rail-->
      
      <div class="inhalt">
      Rail Nr. {{i+1}}
      level: {{railDtos.level}}

        <div class="requirements">
        UPGRADE REQUIRMENTS: <br>
        db coins:{{upgradesRail[i].requiredDbCoin}} <br>
        power: {{ playerInfo().power - freePower + upgradesRail[i].requiredPower }}<br>
        employees: {{ playerInfo().employees - freeEmployee + upgradesRail[i].requiredEmployees}}  
        </div>
      </div>

      <div class="upgrade_button_area">
      <button class="upgrade-button" (click)="onUpgradeRail(i)">upgrade<br><!--{{upgrade cost}}-->db coins</button>
      </div>
    </div>
  </div>

  <button (click)="onBuyStation()" class="buy-button">
    Buy Station
    <div class="requirements">
            Db coins:{{store.elementBuyRequirements()[1].requiredDbCoin}}
            power:{{store.elementBuyRequirements()[1].requiredPower}}
            employee:{{store.elementBuyRequirements()[1].requiredEmployees}}
        </div>
  </button>

  <div class="station-list">
      <div *ngFor="let station of stations; let i = index" class="station-block">
        <img src="assets/skdy5fapgu791.gif" class="station-pic"> <!--bild von Station-->
        <div class="inhalt">
          Station Nr: {{i+1}}
          level: {{station.level}}
          <div class="requirements">  
            UPGRADE REQUIRMENTS: <br>
            db coins:{{upgradesStation[i].requiredDbCoin}} <br>
            power: {{ playerInfo().power - freePower + upgradesStation[i].requiredPower }}<br>
            employees: {{ playerInfo().employees - freeEmployee + upgradesStation[i].requiredEmployees }}
          </div>
        </div>

        <div class="upgrade_button_area">
        <button class="upgrade-button" (click)="onUpgradeStation(i)">upgrade<br><!--{{upgrade cost}}-->db coins</button>
        </div> 
      </div>
  </div>
</div>
 