<div class="gamepage">
  <div class="container">
    <div class="map">
       <app-map></app-map>
    </div>

    <div class="resources">
      <app-resources></app-resources>
      <button class="menu-button" (click)="showDropdown = !showDropdown">≡</button>
      <div class="dropdown-menu" *ngIf="showDropdown">
        <button class="dropdown-button" (click)="onSettings()">Settings</button>
        <button class="dropdown-button" (click)="onExit()">Exit</button>
      </div>
    </div>

    <div class="tabs">
      <button class="game-button" [class.active]="activeTab === 1" (click)="activeTab = 1">Trains</button>
      <button class="game-button" [class.active]="activeTab === 2" (click)="activeTab = 2">Mitarbeiter/ Power</button>
      <button class="game-button" [class.active]="activeTab === 3" (click)="activeTab = 3">Connections</button>
    </div>

    <div class="tabcontent">
      <div class="tab-content" *ngIf="activeTab === 1">
        <app-trains></app-trains>
      </div>
      <div class="tab-content" *ngIf="activeTab === 2">
        <app-employees></app-employees>
      </div>
      <div class="tab-content" *ngIf="activeTab === 3">
        <app-upgrades></app-upgrades>
      </div>
    </div>
  </div>
</div>