<img
    src="assets/tmp_b4313719-be33-4e90-b882-c2a8b4925a9a.jpeg"
    class="main-menu-img"
/>

<div class="menu-overlay">
    <div *ngIf="showMain">
        <button
            class="main-menu-button"
            (click)="showCreate = true; showJoin = false; showMain = false"
        >
            Create Lobby
        </button>
        <button
            class="main-menu-button"
            (click)="showJoin = true; showCreate = false; showMain = false"
        >
            Join Lobby
        </button>
    </div>

    <div *ngIf="showCreate">
        <input
            type="text"
            class="menu-input"
            [(ngModel)]="inputName"
            placeholder="Nickname"
        />
        <input
            type="text"
            class="menu-input"
            [(ngModel)]="inputID"
            placeholder="Lobby ID"
            maxlength="20"
        />
        <button
            class="menu-button"
            [disabled]="inputName.length < 3 || inputID.length < 3"
            (click)="startMultiplayer()"
        >
            Create Game
        </button>
        <button
            class="menu-button"
            (click)="showMain = true; showCreate = false; showJoin = false"
            (click)="clearFields()"
        >
            Back
        </button>
    </div>

    <div *ngIf="showJoin">
        <input
            type="text"
            class="menu-input"
            [(ngModel)]="inputNameJoin"
            placeholder="Nickname"
        />
        <input
            type="text"
            class="menu-input"
            [(ngModel)]="inputIDJoin"
            placeholder="Lobby ID"
            maxlength="20"
        />
        <button
            class="menu-button"
            [disabled]="inputName.length < 3 || inputID.length < 3"
            (click)="joinMultiplayer()"
        >
            Join Game
        </button>
        <button
            class="menu-button"
            (click)="showMain = true; showCreate = false; showJoin = false"
            (click)="clearFieldsJoin()"
        >
            Back
        </button>
    </div>
</div>