<img
    src="assets/tmp_b4313719-be33-4e90-b882-c2a8b4925a9a.jpeg"
    class="main-menu-img"
/>

<img src="/assets/DeutschBahnLogo.png" class="dbLogo" alt="db logo">

<div class="menu-overlay">

    <div *ngIf="showMain"> <!-- MAIN -->

        <!-- CREATE BUTTON -->
        <button class="main-menu-button" (click)="showCreate = true; showJoin = false; showMain = false; ">
            Create Session
        </button>

        <!-- JOIN BUTTON -->
        <button class="main-menu-button" (click)="showJoin = true; showCreate = false; showMain = false; ">
            Join Session
        </button>
    </div>
    
    <div *ngIf="showCreate"> <!-- CREATE  -->

        <!-- PLAYERNAME -->
        <input type="text" class="menu-input" [(ngModel)]="playerName" placeholder="Nickname"/>

        <!-- SESSIONNAME -->
        <input 
            type="text" 
            class="menu-input" 
            [(ngModel)]="sessionName"
            placeholder="Session Name"
            maxlength="20"/>

        <!-- CREATE BUTTON -->
        <button 
            class="menu-button" 
            [disabled]="playerName.length < 3 || sessionName.length < 3"
            (click)="onCreateSession(); showMain = false; showCreate = false; showJoin = false;">
            Create Session
        </button>

        <!-- BACK BUTTON -->
        <button class="menu-button" (click)="showMain = true; showCreate = false; showJoin = false; clearFields()">Back</button>
    </div>
    <!-- CREATE  -->

    <!-- JOIN -->
    <div *ngIf="showJoin">

        <!-- PLAYERNAME -->
        <input
            type="text"
            class="menu-input"
            [(ngModel)]="inputNameJoin"
            placeholder="Nickname"/>

        <!-- SESSIONNAME -->
        <input
            type="text"
            class="menu-input"
            [(ngModel)]="inputIDJoin"
            placeholder="Session Name"
            maxlength="20"
        />

        <!-- JOIN BUTTON -->
        <button
            class="menu-button"
            [disabled]="inputNameJoin.length < 3 || inputIDJoin.length < 3"
            (click)="onJoinSession(inputIDJoin, inputNameJoin); showMain = false; showCreate = false; showJoin = false;"
        >
            Join Session
        </button>

        <!-- BACK BUTTON -->
        <button
            class="menu-button"
            (click)="showMain = true; showCreate = false; showJoin = false; clearFieldsJoin()"
        >
            Back
        </button>
    </div>
    <!-- JOIN -->
     
</div>