.employee-block {
  background-color:gray;
  color: black;
  width: 97%;
  height: 100%;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.buy-image {
  width: 20px;
  height: 20px;
}

.buy-button {
  background-color:yellowgreen;
  color: white;
  width: 97%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  //border-color: 10px solid gray;
  border: none;
  font-family:  "Silkscreen", sans-serif;
}

.buy-button:active {
  background-color: green;
  color: white;
  width: 97%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  //border-color: 10px solid gray;
  border: none;
  font-family:  "Silkscreen", sans-serif;
}

.employee-Pic{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.power-Pic{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}