.employee-block {
  background-color:gray;
  color: black;
  width: 97%;
  height: 100%;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.buy-image {
  width: 20px;
  height: 20px;
}

.buy-button {
  background-color:yellowgreen;
  color: black;
  width: 97%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border-color: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;

  background-color:yellowgreen;
  color: black;
  width: 100%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;
}

.power-button {
  background-color:yellowgreen;
  color: black;
  width: 97%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border-color: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;

  background-color:yellowgreen;
  color: black;
  width: 100%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;
}