<div class="resources-panels">
  <div class="resource-panel">
    <div class="resource-header">
      <img src="assets/pixil-frame-0.png" alt="DB Coin" class="pixel-icon">
      <!-- <span class="resource-name"> {{ resources().dbCoin }}/DB</span>     -->
      <span class="resource-name"> {{ ausgabeAmount }}/DB</span>    
    </div>
  </div>
  <div class="resource-panel">
    <div class="resource-header">
      <img src="/assets/power.png" alt="DB Coin" class="pixel-icon">
      <span class="resource-name">Power: {{ resources().power }} / {{ freePower }}</span> 
    </div>
  </div>
  <div class="resource-panel">
    <div class="resource-header">
      <img src="/assets/Manpower_DB_Icon.png" alt="DB Coin" class="pixel-icon">
       <span class="resource-name">Employees: {{ resources().employees }} / {{ freeEmployee }}</span>
    </div>
  </div>
</div>
