.train-set {
  background-color: gray;
}

.train-block{
  color: black;
  background-color: white;
  font-size: 1.2rem;
  border: 10px solid gray;
  width: 97%;
  height: 100px;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
  grid-template-areas: "train-pic content upgrade_button";
}

.train-pic {
  grid-area: train-pic;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

.train-list {
    max-height: 350px;
    overflow-y:auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}

.buy-button {
  background-color:yellowgreen;
  color: white;
  width: 100%;
  height: 70px;
  margin: 8px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border: 10px solid gray;
  font-family:  "Silkscreen", sans-serif;
}

.upgrade-button {
  grid-area: upgrade_button;
  color: white;
  font-family:  "Silkscreen", sans-serif;
  text-align: left;
  width: 70%;
  height: 50%;
  background-color: yellowgreen;
  padding: 10px;
  // margin-left: 30%;
  // margin-top: 30%;
}

.inhalt {
  grid-area: content;
  font-size: 20px;
}

.requirements {
  grid-area: content;
  font-size: 11px;
}