<div class="train-set">
    <button (click)="onBuyTrain()" class="buy-button">
        Buy Train</button>
    <div class="train-list">
        <div *ngFor="let trainDtos of trains; let i=index" class="train-block">
            <img class="train-pic" src="assets/retro-pixel-art-train-tracks-vibrant-detailed-digital-illustration_1292377-15709.avif" alt="button Image">
            
            <div class="inhalt">
                train Nr.{{i+1}}
                level:{{trainDtos.level}}
                <div class="requirements">
                UPGRADE REQUIRMENTS: <br>
                db coins:{{upgrades[i].requiredDbCoin}} <br>
                power: {{upgrades[i].requiredPower}}<br>
                employees: {{upgrades[i].requiredEmployees}}
                </div>
            </div>
            <div class="upgrade_button_area">
            <button (click)="onUpgradeTrain(i)" class="upgrade-button">
                Upgrade Train
            </button>
            </div>
        </div>
    </div>
</div>